#nav {
  list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: pink;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content*/
}

#nav a {
  display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

#navbar {
  position: fixed;
}

@media only screen and (max-width: 600px) {
  #nav {
    background-color: blue;
  }
}